@using BagisiklikTakipSistemi.Models;
@model List<YorumlarTablosu>
<body style="background-color:#fbfbf2">

    <div class="text-center">

        <br />

        <table class="table table-hover">

            <tr class="table-primary">
                <th style="text-align:center">ID</th>
                <th style="text-align:center">Yorum İçerik</th>
                <th style="text-align:center">Tarih</th>
                <th style="text-align:center">Durum</th>
                <th style="text-align:center">Aktif</th>
                <th style="text-align:center">Pasif</th>
                <th style="text-align:center">Düzenle</th>
            </tr>


            @foreach (var x in Model)
            {

                string durum = "";

                if (x.Durum == true)
                { durum = "Aktif"; }
                else
                { durum = "Pasif"; }

                <tr>

                    <td>@x.ID</td>
                    <td>@x.YorumIcerik</td>
                    <td>@x.Tarih.ToString().Split(' ').First()</td>
                    <td>@durum</td>
                    <td><a href="/Admin/YorumAktif/@x.ID" class="btn btn-success">Aktif</a></td>
                    <td><a href="/Admin/YorumPasif/@x.ID" class="btn btn-danger">Pasif</a></td>
                    <td><a href="/Admin/YorumDuzgetir/@x.ID" class="btn btn-warning">Düzenle</a></td>

                </tr>

            }

        </table>
    </div>


</body>

