
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Bağışıklık Takip</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-bottom/">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-color:#fbfbf2">
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 style="color:#0094ff">Bağışıklık Sistemi Nedir ve Nasıl Çalışır?</h1> <br />
            <p class="lead">
                Bağışıklık sistemi vücudun doğal savunma sistemidir. Vücudu istilacılara karşı korumak için bir araya gelerek birlikte hareket eden karmaşık bir hücre, doku ve organ ağıdır.

                Bu istilacılar arasında hepsi bizi hasta etme potansiyeline sahip virüsler, bakteriler, parazitler, hatta mantar türleri bulunur. Bu gözle görünmeyecek kadar küçük istilacılar evde, işyerinde, parkta, sahilde, araçlarda, yollarda, yani her yerde bulunurlar.

                Sağlıklı bir bağışıklık sistemi öncelikle bunların vücuda girmesini engelleyen bir bariyer oluşturarak bizi korur. Eğer herhangi bir virüs ya da diğer bir hastalık yapıcı etken bu bariyeri aşarsa bağışıklık sistemi akyuvarları, bu yabancı maddelere saldırıp yok eden kimyasallar ile proteinleri üretir; vücut içinde saklandıkları yerleri bulmaya ve ideal olarak çoğalmadan önce onlardan kurtulmaya çalışır.

                Bu bu ilk aşamada başarısız olursa, bağışıklık sistemi istilacılar çoğalırken onları yok etmek için daha da hızlanır.

                Bağışıklık sistemi milyonlarca farklı antijeni tanıyabilir ve neredeyse hepsini yok etmek için ihtiyaç duyulan önlemi alıp, gerekli maddeyi üretebilir. Bu ayrıntılı savunma sistemi düzgün çalıştığında kanserden soğuk algınlığına kadar çok çeşitli sağlık sorunlarını vücuttan uzak tutabilir.

                Ancak bazen bağışıklık sistemi bir hata yapar ve polen ya da evcil hayvan tüyü gibi kendiliğinden vücuda zararlı olmayan bir maddeyi zararlı olarak tanımlar. Bağışıklık sistemi bu sözde istilacılarla savaşmaya başladığında ortaya çıkan duruma alerjik reaksiyon denilir.

                Bağışıklık sistemi işinde çok iyi olsa bile her istilacıyla her zaman savaşamaz, zaman zaman bozulabilir veya hiç tanımadığı yeni bir tür virüs ile karşılaşabilir. Tıp uzmanları bu durumun en aza indirilmesi için yaşam tarzına dikkat edilmesi gerektiğini ve aşılamanın önemini belirtmektedir.

                Sağlıklı beslenmemek, hareketsiz bir hayat tarzı benimsemek, yeterince uyumamak ve kronik stres altında olmak bağışıklık sisteminin zayıflamasına katkıda bulunur. Bağışıklık sistemi tükendiği zaman bakteriler, toksinler veya virüsler vücudu işgal edebilir ve bunun sonucu olarak hastalıklar başlar.
            </p>
            <a class="btn btn-lg btn-primary" href="/Home/Anket" role="button">Ankete Git &raquo;</a>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="~/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
