
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Bağışıklık Takip</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-bottom/">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-color:#fbfbf2">
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 style="color:#0094ff">Corona Virüsü (Koronavirüs) Belirtileri Nelerdir?</h1> <br />
            <p class="lead">
                Yeni koronavirüs enfeksiyonu belirtileri arasında ateş, öksürük, nefes darlığı ve solunum güçlüğü bulunur. Daha ağır vakalarda enfeksiyon zatürreye, akut solunum yetmezliğine, böbrek yetmezliğine ve hatta ölüme neden olabilir.

Bütün virüs türleri gibi zaman içinde sürekli evrimleşen koronavirüsler 2002 senesinden itibaren grip benzeri semptomlar gösteren daha ciddi sağlık sorunlarına neden olmaya başlamıştır.

Koronavirüsler hayvanlar ve insanlar arasında bulaşma riski taşıyan, yani zoonik virüslerdir. Geçmişte MERS adıyla bilinen Orta Doğu Solunum Sendromu’nun develerden, SARS adıyla bilinen Şiddetli Akut Solunum Sendromu’nun da misk kedilerinden insana geçtiği düşünülmektedir.

Koronavirüs enfeksiyonlarının yayılmasını önlemek için standart öneriler arasında düzenli olarak alkollü el dezenfektanları veya su-sabunla el yıkanması ve temizliği, öksürme ve hapşırma sırasında ağız ve burnun mendil veya dirsek içi ile kapatılması, bu semptomları gösteren kişilerle yakınlaşmaktan kaçınılması yer alır. Kullanılan mendilin derhal çöpe atılması gereklidir.

Koronavirüs vakalarının görüldüğü yerlerde canlı hayvan pazarlarından uzak durulması tavsiye edilir.

Koronavirüsün belirtileri arasında en sık karşılaşılan semptomlar birkaç gün boyunca devam eden yüksek ateş, baş ağrısı ve kuru öksürük olarak bilinmektedir. Fakat bazı hastalarda aşağıdaki semptomlarda gözlemlenmektedir;

Nefes darlığı,
Balgamlı öksürük,
Boğaz ağrısı,
Kas ve eklem ağrıları,
Mide bulantısı veya kusma,
İştahsızlık,
Burun akıntısı,
Baş ağrısı,
Ağır solunum yetmezliği,
Böbrek yetmezliği gibi durumlar koronavirüsün belirtileri arasında yer alabilmektedir.
Koronavirüsü belirtileri gösteren kişilerin ilgili sağlık kurumlarına gitmeden önce, çevresindeki kişilere bulaştırmamak için maske takarak önlem alması gerekmektedir.
            </p>
            <a class="btn btn-lg btn-primary" href="/Home/Index" role="button">Sayfayı Geç &raquo;</a>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="~/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
